img.mlb-logo
{
    height: 150px;
    width: auto;
}
img.homepage-logo
{
    height: 250px;
    width: auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

audio
{
    display: hidden;
}

.nhl-live-logo
{
    height: 20px;
    width: auto
}