<!-- <!DOCTYPE html>
<html lang=""en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Sports Server</title>
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="../nhl">NHL</a></li>
            <li><a href="../mlb">MLB</a></li>
            <li><a href="/">NFL</a></li>
            <li><a href="/">NBA</a></li>
            <li><a href="/">CHEL</a></li>
            <li><a href="/">THE SHOW</a></li>
        </ul>
    </div>
    <table class="league">
        <tr>
            <th>
                <div class="league-btn" id="nhl">
                    <a href="../nhl" class="fill-div">
                        <img src="static/nhl_logo.svg" alt="NHL Logo" class="league-logo" />
                        <h4 class="center league-text">NHL</h4>
                    </a>
                </div>
            </th>
            <th>
                <div class="league-btn" id="mlb">
                    <a href="../mlb" class="fill-div">
                        <img src="static/mlb_logo.png" alt="MLB Logo" class="league-logo" />
                        <h4 class="center league-text">MLB</h4>
                    </a>
                </div>
            </th>
            <th>
                <div class="league-btn" id="nfl">
                    <a href="#" class="fill-div">
                        <img src="static/nfl_logo.png" alt="NFL Logo" class="league-logo" />
                        <h4 class="center league-text">NFL</h4>
                    </a>
                </div>
            </th>
            <th>
                <div class="league-btn" id="nba">
                    <a href="#" class="fill-div">
                        <img src="static/nba_logo.png" alt="NBA Logo" class="league-logo" />
                        <h4 class="center league-text">NBA</h4>
                    </a>
                </div>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <div class="league-btn" id="chel">
                    <a href="#" class="fill-div">
                        <img src="static/chel_logo.png" alt="CHEL Logo" class="league-logo " />
                        <h4 class="center league-text">CHEL</h4>
                    </a>
                </div>
            </th>
            <th>
                <div class="league-btn" id="show">
                    <a href="#" class="fill-div">
                        <img src="static/show_logo.png" alt="SHOW Logo" class="league-logo" />
                        <h4 class="center league-text">THE SHOW</h4>
                    </a>
                </div>
            </th>
        </tr>
    </table>
</body>

</html> -->


<!DOCTYPE html>
<html lang="" en">

<head>
    {% include 'header.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container overflow-hidden px-4">
        <div class="row g-5">
            <div class="col-3 d-flex justify-content-center">
                <a href="../nhl" class="fill-div text-decoration-none text-dark">
                    <img src="static/nhl_logo.svg" alt="NHL Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">NHL</h4>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="../mlb" class="fill-div text-decoration-none text-dark">
                    <img src="static/mlb_logo.png" alt="MLB Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">MLB</h4>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="../" class="fill-div text-decoration-none text-dark">
                    <img src="static/nfl_logo.png" alt="NFL Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">NFL</h4>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="../" class="fill-div text-decoration-none text-dark">
                    <img src="static/nba_logo.png" alt="NBA Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">NBA</h4>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="../" class="fill-div text-decoration-none text-dark">
                    <img src="static/chel_logo.png" alt="CHEL Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">CHEL</h4>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="../show" class="fill-div text-decoration-none text-dark">
                    <img src="static/show_logo.png" alt="THE SHOW Logo" class="img-fluid homepage-logo" />
                    <h4 class="text-center">THE SHOW</h4>
                </a>
            </div>
        </div>
    </div>

</body>

</html>