<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container overflow-hidden">
        <div class="row g-5">
            {% for game in games %}
            <div class="col-4 d-flex flex-column border border-secondary-subtle">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <img src="{{game.away_logo}}" class="img-fluid mlb-logo" />
                    </div>
                    <div class="col d-flex justify-content-center">
                        <img src="{{game.home_logo}}" class="img-fluid mlb-logo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-center"><b>{{ game.away_team }}</b> at <b>{{ game.home_team }}</b></h3>
                    </div>
                </div>
                {% if game.game_state == 'S' %}
                <div class="col">
                    <p class="text-center">{{ game.time }}</p>
                </div>
                {% elif game.game_state == 'F' %}
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <div class="d-inline-flex p-2 border rounded bg-light">
                            <h3>{{ game.away_score }}</h3>
                        </div>
                    </div>
                    <div class="col">
                        <p class="text-center"><b>FINAL</b></p>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <div class="d-inline-flex p-2 border rounded bg-light">
                            <h3>{{ game.home_score }}</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>
    <br>

</body>

</html>