<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="../">
            <img src="static/jynxzi.png" alt="" width="auto" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../nhl">NHL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../mlb">MLB</a>
                </li>
                <li class="#">
                    <a class="nav-link disabled" href="#">NFL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">NBA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">CHEL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">THE SHOW</a>
                </li>

            </ul>
        </div>
    </div>
</nav>